@media all and (max-width: 1680px ) {
    .container {
        width: 1400px;
    }
    h1{
        background: url(img/G.svg)no-repeat 150px 100px;
        background-size: 400px;
    }
}

@media all and (max-width: 1400px ) {
    .container {
        width: 1000px;
    }
    h1{
        font-size: 32px;
        background: url(img/G.svg)no-repeat 200px 100px;
        background-size: 230px;
    }
}

@media all and (max-width: 1000px ) {
    .container {
        width: 750px;
    }


    .header {
        display: none;
    }

    .logo-adapt {
        display: block;
    }
    h1 {
        background: url(img/G.svg)no-repeat 80px 100px;
        background-size: 230px;
    }
}

@media all and (max-width: 750px) {
    .container {
        width: 500px;
    }
    h1 {
        background: url(img/G.svg)no-repeat 70px 70px;
        background-size: 230px;
        padding: 70px 10px 20px;
    }
}
@media all and (max-width: 500px) {
    .container {
        width: 360px;
    }
}

