
.block-backgorund-1 {
    background: url("img/header-background.jpg") no-repeat 240px -15px;
    margin: 0 auto;
}
.logo-adapt{
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header ul {
    width: 900px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
}

.header button {
    color: #6743ef;
    background: rgb(246, 244, 254, 0.1);
    border-radius: 100px;
    margin: 19px 0 0 0;
    border-color: rgb(247, 245, 254);
    font-size: 20px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 5px solid;
    height: 52px;
    width: 172px;
}

.header button img {
    margin-bottom: -3px;
}

h1 {
    text-align: center;
    padding: 20px 0 20px;
    font-size: 60px;
    background: url(img/G.svg) no-repeat 680px 17px;
    margin: 70px 0 0 0;
    color: #2b2c54;
    background-size: 340px;
}

.block-1 p {
    color: #2B2C54;
    opacity: 70%;
    margin: 0 auto;
    line-height: 30px;
    max-width: 1050px;
}

.block-2 {
    margin: 50px 0 0 0;
}

.block-2 h3 {
    font-size: 32px;
    padding-bottom: 16px;
}

.block-2 h4 {
    font-size: 24px;
    padding-top: 10px;
}

.block-2 p {
    padding-top: 62px;
    opacity: 70%;
    font-size: 18px;
}

.block-2 .container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
}

.block-2 .container ul li {
    padding: 30px 0 35px 30px;
    width: 510px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 15px rgba(248, 248, 249);

    color: #2B2C54;
    margin-bottom: 30px;

}

.block-2 .container ul li button {
    background: #FFFFFF;
    font-size: 20px;
    padding: 12px 42px 12px 42px;
    border-radius: 100px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 5px solid;
    border-color: #7656f1;
    color: #a38ef6;
    letter-spacing: 1px;
    margin-top: 20px;
}

.separation {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0 0;
}

.block-3 {
    color: #2B2C54;
}

.block-3 h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 74px;
    padding-bottom: 30px;
}

.block-3 h4 {
    text-align: center;
    font-size: 16px;
}

.block-3 h5 {
    padding-top: 50px;
    opacity: 70%;
    font-size: 16px;
}

.payment {
    max-width: 1110px;
    margin: 0 auto;
}

.block-3 ul {
    padding-top: 30px;
}

.block-3 ul li {
    opacity: 70%;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #2B2C54;
}

.payment p {
    color: #2B2C54;
    opacity: 70%;
    padding-top: 16px;
    font-size: 18px;
    font-weight: 400;
}


.social {
    display: flex;
    justify-content: right;
    align-items: center;
}

.social li {
    padding: 0 5px;
}

.footer {
    background: #595ba9;
    padding: 85px 0 110px 0;
    margin-top: 60px;
}

.footer h5 {
    color: white;
}

.footer p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.footer-info {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 20px 0 20px;
}

.footer-info p {
    padding: 0 0 20px 0;
    font-weight: 400;
}

.footer-info h4 {
    color: white;
    padding: 0 0 30px 0;
}

.info-for-our {
    width: 428px;
}

.footer img {
    vertical-align: bottom;
    padding: 0 10px 0 0;
}






