*{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-weight: 600;
}
body{
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.container{
    width: 1680px;
    margin: 0 auto;
    overflow: hidden;
}
li{
    list-style-type: none;
}
.block-backgorund-1{
    background: url("img/header-background.jpg")no-repeat 240px -15px;
    background-size: contain;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.header ul{
    width: 900px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
}
.header button{
    color: #6743ef;
    background: rgb(246, 244, 254, 0.1);
    border-radius: 100px;
    margin: 19px 0 0 0;
    border-color: rgb(247,245,254);
    font-size:20px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 5px solid;
    height: 52px;
    width: 172px;
}
.header button img{
    margin-bottom: -3px;
}
h1 {
    text-align: center;
    padding: 20px 250px 20px;
    font-size: 60px;
    background: url(img/G.svg) no-repeat 780px 15px;
    margin: 70px 0 0 0;
    color: #2b2c54;
    background-size: 390px;
}
.block-1 h2{
    font-size: 16px;
    text-align: center;
    padding: 0 460px;
}

.education{
    display: flex;
    justify-content: space-between;
    width: 1212px;
    margin: 10px 0 0 45px;
}
.education ul{
    padding: 117px 0 0 0px;
    color: #2B2C54;
    width: 390px;
}
.education ul li{
    margin-bottom: 30px;
}
.education h3{
    font-size: 24px;
}
.education h4{
    padding: 10px 0 0 0;
    opacity: 70%;
}
.education h5{
    font-size: 16px;
}
.education ul li button{
    background: #a38ef6;
    font-size: 20px;
    padding: 18px 45px 18px 45px;
    border-radius: 100px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 5px solid;
    border-color: #7656f1;
    color: #F6F4FE;
    margin: 5px 0 0 0;
    letter-spacing: 1px;
}
.block-2{
    background: url("img/background-programm-learn.jpg")no-repeat -500px 550px;
}
.block-2 .this-program h2{
    text-align: center;
    padding: 20px 250px 145px;
    font-size: 60px;
    margin: 70px 0 0 0;
    color: #2b2c54;
    background: url(img/karakul.svg)no-repeat 570px 130px;;
}
.block-2 .this-program ul{
    display: flex;
    justify-content: space-between;
}
.block-2 .this-program ul li{
    width: 398px;
    padding: 95px 0 205px 0;

}
.block-2 .this-program ul li p{
    color: #2B2C54;
    opacity: 70%;
}
.block-2 .this-program ul li:nth-child(1){background: url("img/star.svg")no-repeat -30px 5px;;}
.block-2 .this-program ul li:nth-child(2){background: url("img/cap.svg")no-repeat -30px 5px;;}
.block-2 .this-program ul li:nth-child(3){background: url("img/bulb.svg")no-repeat -30px 5px;;}
.block-2 .this-program ul li:nth-child(4){background: url("img/pan.svg")no-repeat 0 5px;;}

.programm-learn{
    width: 701px;
    background: url("img/artist.png") no-repeat 800px 10px;
    padding: 75px 880px 255px 155px;
    color: #2B2C54;
}
.programm-learn h2{
    color: #2b2c54;
    font-size: 60px;
}
.programm-learn p{
    font-size: 18px;
    padding: 30px 0;
}
.programm-learn ul li{
    padding-bottom: 16px;
}
.block-3{
    color: #2B2C54;
    background: url(img/curator-artist.png) no-repeat -5px 810px,
                url(img/background-curator.jpg)no-repeat 560px 675px;
}
.block-3{
    margin: 35px 0 0 0;
}
.block-3 h2{
    font-size: 60px;
    padding: 0px 0 50px 0;
    text-align: center;

}
.teacher ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 545px;
}
.teacher ul li h4{
    padding: 40px 0px 20px;
    width: 398px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 1px 30px -18px rgb(0 0 0 / 50%)
}
.arrows{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: #6743EF;
}
.arrows a{
    padding: 10px 20px 10px 20px;
    border-radius: 50%;
    color: #6743EF;
    background-color: white;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 4px solid;
    border-color: #7656f1;
}
.how-we-teach{
    padding: 150px 70px 220px 755px;
}
.how-we-teach h3{
    font-size: 60px;
    padding: 12px 0 45px 0;
    background: url(img/circle.svg)no-repeat 230px 5px;
    background-size: 250px;
}
.how-we-teach h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.how-we-teach p{
    font-size: 18px;
    color: #2B2C54;
    opacity: 70%;
    margin-bottom: 7px;
}
.block-4{
    color: #2B2C54;
    padding: 25px 0 0 200px;
}
.training-program{
    width: 875px;
    position: relative;
    margin: 0 auto;
}
.training-program::before{
    content: '';
    position: absolute;
    top: 315px;
    left: -10px;
    width: 747px;
    height: 2px;
    background-color: #2B2C54;
    opacity: 10%;
}
.training-program h3{
    font-size: 60px;
    padding: 30px 0 30px 0;
    background: url(img/circle.svg)no-repeat 440px 0px;
    background-size: 320px;
}
.training-program p{
    opacity: 70%;
    padding: 0 0 30px 0;
}
.training-program h4{
    font-size: 20px;
    padding: 24px 0 25px 0;
}
.training-program h5{
    font-size: 16px;
    padding: 10px 0 10px 0;
}
.training-program p{
    font-size: 18px;
}
.block-5{
    background: url(img/why-are-we.jpg)no-repeat 10px 35px;
    padding: 107px 0 0 0;
}
.block-5 h2{
    font-size: 60px;
    padding: 30px 0 30px 0;
    background: url(img/circle.svg)no-repeat 760px 10px;
    background-size: 320px;
    text-align: center;
}
.block-5 ul{
    display: flex;
    justify-content: space-around;
    padding: 0 160px;
    margin-top: 50px;
}
.block-5 ul li{
    width: 398px;
    padding: 0 25px;
}
.block-5 h4{
    font-size: 24px;
    padding-top: 100px;
}
.block-5 ul:first-child li:nth-child(1){
    background: url("img/star.svg") no-repeat;
}
.block-5 ul:first-child li:nth-child(2){
    background: url("img/cap.svg") no-repeat;
}
.block-5 ul:first-child li:nth-child(3){
    background: url("img/book.svg") no-repeat;
}

.block-5 ul:last-child li:nth-child(1){
    background: url("img/calendar.svg") no-repeat;
}
.block-5 ul:last-child li:nth-child(2){
    background: url("img/social.svg") no-repeat;
}
.block-5 ul:last-child li:nth-child(3){
    background: url("img/devices.svg") no-repeat;
}
.practice{
    padding: 145px 0 400px 180px;
    background: url(img/bulb.svg)no-repeat 160px 45px;
}
.practice p{
    width: 398px;
}
.practice h3{
    font-size: 24px;
}
.block-6{
    height: 517px;
    padding-top: 90px;
    color: #2B2C54;
}
.block-6 h2{
    font-size: 60px;
    background-size: 320px;
    text-align: center;
}
.reviews{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
.reviews li{
    width: 540px;
    border: 1px solid gray;
}
.block-7{
    background: url("img/check.svg")no-repeat 480px 80px;
}
.block-7 h2{
    font-size: 42px;
    padding: 0 420px 40px;
    text-align: center;
}
.block-7 p{
    text-align: center;
    font-size: 18px;
    color: #6b6b87;
    padding: 20px 0 40px;
}
.block-7 form{
    text-align: center;
}
.block-7 input{
    border-radius: 40px;
    border: 1px solid #dfdfe5;
    padding: 21px 349px 21px 20px;
    transition-duration: .3s;
    margin-bottom: 15px;
}
.block-7 button {
    background: #a38ef6;
    font-size: 20px;
    padding: 20px 50px 20px 50px;
    border-radius: 100px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 5px solid;
    border-color: #7656f1;
    color: #F6F4FE;
    margin: 30px 0 55px 0;
}









.footer{
    background: url("img/footer.png")no-repeat;
    height: 699px;
    width: 1920px;
}
.social{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 165px 175px 0 0;
}
.social li{
    padding:0 10px;
}
.footer-info{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin: 23px 0 0 0;
}
.footer-info p{
    padding: 0 0 20px 0;
}
.footer-info h4{
    color: white;
    padding: 40px 0 30px 0;
}
.info-for-our{
    width: 428px;
}




