*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}
body{
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;

}
a{
    text-decoration: none;
}
.container{
    width: 1680px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
.logo-adapt{
    display: none;
}
.block-backgorund-1{
    background: url("img/header-background.jpg")no-repeat 240px -15px;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.header ul{
    width: 900px;
    padding: 35px 10px;
    display: flex;
    justify-content: space-between;
}
.header button{
    color: #6743ef;
    background: rgb(246, 244, 254, 0.1);
    border-radius: 100px;
    margin: 19px 0 0 0;
    border-color: rgb(247,245,254);
    font-size:20px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 5px solid;
    height: 52px;
    width: 172px;
}
.header button img{
    margin-bottom: -3px;
}
.logo-adapt{
    display: none;
}
h1{
    font-size: 60px;
    color: #2B2C54;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 104px;
    background: url(img/G.svg)no-repeat 300px 100px;
    background-size: 400px;
}
.block-1 h2{
    text-align: center;
    color: #2B2C54;
    font-size: 16px;
}
.study-start{
    display: flex;
    justify-content: start;
    margin-left: 45px;
    margin-top: 50px;
}
.study-start ul{
    margin-top: 86px;
    margin-left: 165px;
    width: 390px;
    color: #2B2C54;
}
.study-start ul li h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.study-start ul li p{
    color: #686887;
}






.social{
    display: flex;
    justify-content: right;
    align-items: center;
}
.social li{
    padding: 0 5px;
}
.footer{
    background: #595ba9;
    padding: 85px 0 110px 0;
}
.footer p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}
.footer-info{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 20px 0 20px;
}
.footer-info p{
    padding: 0 0 20px 0;
    font-weight: 400;
}
.footer-info h4{
    color: white;
    padding: 0 0 30px 0;
}
.info-for-our{
    width: 428px;
}
.footer img{
    vertical-align: bottom;
    padding: 0 10px 0 0;
}













