@media all and (max-width: 1660px ) {
    .container {
        width: 1400px;
    }

    h1 {
        text-align: center;
        background: url(../../img/G.svg) no-repeat 190px 10px;
    }

    #map {
        order: 1;
    }

    .block-1 .container {
        justify-content: center;
    }
}

@media all and (max-width: 1400px ) {
    .container {
        width: 1000px;
    }


    .social {
        padding: 50px 0 0 0;
    }

    .footer-programms {
        order: 1;
        width: 688px;
    }

    .footer-info h4 {
        padding: 20px 0;
    }
}

@media all and (max-width: 1000px ) {
    .container {
        width: 750px;
    }

    .header {
        display: none;
    }

    .logo-adapt {
        display: block;
    }
    .logo-adapt img{
        width: 156px;
    }

    h1 {
        background: url(../../img/G.svg) no-repeat 240px 0px;
        font-size: 32px;
        background-size: 200px;
    }


    .social {
        padding: 20px 0 0 0;
    }

    .footer-contacts {
        width: 334px;
    }

    .footer p {
        font-size: 16px;
    }

    .info-for-our {
        width: 398px;
    }

    .footer-programms {
        width: 220px;
    }
}

@media all and (max-width: 750px ) {
    .container {
        width: 320px;
    }
    h1 {
        background: url(../../img/G.svg) no-repeat 60px 0;
        background-size: 200px;
    }

    #map {
        display: none;
    }

    .contact ul {
        width: 315px;
    }

}

@media all and (max-width: 500px ) {
    .container {
        width: 320px;
    }



    .contact ul {
        margin-left: 20px;
    }


    .footer {
        padding: 0 0 0 10px;
    }

    .footer-menu {
        order: 1;
    }

    .social {
        padding: 100px 0 0 0;
    }

    .info-for-our {
        width: 300px;
    }
}

