@media all and (max-width: 1660px ) {
    .container {
        width: 1400px;
    }

    .profile {
       margin: 0;
    }
    .nastya-not-adapt img{
        width: 750px;
    }
}

@media all and (max-width: 1400px ) {
    .container {
        width: 1000px;
    }

    .nastya-not-adapt {
        display: none;
    }

    .nastya-adapt {
        display: block;
        margin-top: 15px;
    }
    .block-1{
        margin-top: 40px;
    }


    .social {
        padding: 50px 0 0 0;
    }

    .footer-programms {
        order: 1;
        width: 688px;
    }

    .footer-info {
        flex-wrap: wrap;
        margin: 60px 0 0;
    }

    .footer-info h4 {
        padding: 20px 0;
    }
}

@media all and (max-width: 1000px ) {
    .container {
        width: 750px;
    }

    .header {
        display: none;
    }

    .logo-adapt {
        display: block;
    }
    h1{
        font-size: 32px;
        padding: 16px 0;
    }
    .profile h3{
        font-size: 16px;
        padding-bottom: 19px;
    }
    .profile p{
        font-size: 16px;
        width: 333px;
    }











    .social {
        padding: 20px 0 0 0;
    }

    .footer-contacts {
        width: 334px;
    }


    .footer p {
        font-size: 16px;
    }

    .info-for-our {
        width: 398px;
    }

    .footer-programms {
        width: 220px;
    }

    .footer-info div {
        width: 290px;
    }
}

@media all and (max-width: 750px ) {
    .container {
        width: 320px;
    }
    .block-1 .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile{
        order: 1;
    }
    .footer-menu {
        order: 1;
    }

    .footer-info {
        justify-content: center;
    }
}

@media all and (max-width: 500px ) {
    .container {
        width: 320px;
    }
    .nastya-adapt img{
        width: 331px;
    }

    .footer {
        padding: 0 0 0 10px;
    }

    .social {
        padding: 100px 0 0 0;
    }

    .info-for-our {
        width: 300px;
    }
}

