@media all and (max-width: 1660px ) {
    .container {
        width: 1400px;
    }


}

@media all and (max-width: 1400px ) {
    .container {
        width: 1000px;
    }

    .block-results{
        max-width: 688px;
    }

    .santa img, .santa-1 img, .santa-2 img, .santa-3 img {
        width: 688px;
    }

    h1 {
        font-size: 32px;
        max-width: 695px;
    }


    .social {
        padding: 50px 0 0 0;
    }

    .footer-programms {
        order: 1;
        width: 688px;
    }

    .footer-info h4 {
        padding: 20px 0;
    }
}

@media all and (max-width: 1000px ) {
    .container {
        width: 750px;
    }

    .header {
        display: none;
    }

    .logo-adapt {
        display: block;
    }


    .social {
        padding: 20px 0 0 0;
    }

    .footer-contacts {
        width: 334px;
    }

    .footer p {
        font-size: 16px;
    }

    .info-for-our {
        width: 398px;
    }

    .footer-programms {
        width: 220px;
    }
}

@media all and (max-width: 750px ) {
    .container {
        width: 500px;
    }
    .block-results{
        max-width: 328px;
    }

    .logo-adapt img {
        width: 156px;
    }

    h1 {
        max-width: 328px;
        text-align: center;
        padding-bottom: 20px;
    }

    .santa img, .santa-1 img, .santa-2 img, .santa-3 img {
        width: 328px;

    }

}

@media all and (max-width: 500px ) {
    .container {
        width: 320px;
    }

    .footer {
        padding: 0 0 0 10px;
    }

    .footer-menu {
        order: 1;
    }

    .social {
        padding: 100px 0 0 0;
    }

    .info-for-our {
        width: 300px;
    }
    .santa p {
        padding-top: 0;
    }
    .santa-2, .santa-3 {
        margin-top: 40px;
    }

}

