@media all and (max-width: 1660px ) {
    .container {
        width: 1400px;
    }

    h1 {
        background: url(../../img/G.svg) no-repeat 550px 25px;
    }
}

@media all and (max-width: 1400px ) {
    .container {
        width: 1000px;
    }

    h1 {
        background: url(../../img/G.svg) no-repeat 350px 25px;
    }
    .block-1 p{
        max-width: 700px;
    }

    .block-2 .container ul {
        max-width: 700px;
    }

    .block-2 h3 {
        font-size: 18px;
        max-width: 294px;
    }

    .block-2 p {
        font-size: 16px;
        padding-top: 30px;
    }

    .block-2 h4 {
        font-size: 18px;
    }

    .block-2 .container ul li {
        padding: 20px 0 30px 17px;
        width: 334px;
    }

    .block-2 .container ul li button {
        padding: 10px 28px;
        font-size: 16px;
    }

    .separation {
        padding: 20px 17px 0 0;
    }

    .social {
        padding: 50px 0 0 0;
    }

    .footer-programms {
        order: 1;
        width: 688px;
    }

    .footer-info h4 {
        padding: 20px 0;
    }
}

@media all and (max-width: 1000px ) {
    .container {
        width: 750px;
    }

    .header {
        display: none;
    }

    .logo-adapt {
        display: block;
    }

    .logo-adapt img {
        width: 156px;
    }

    h1 {
        font-size: 32px;
        background: url(../../img/G.svg) no-repeat 280px 18px;
        background-size: 200px;
    }
    .block-3 h2{
        font-size: 32px;
        padding-top: 64px;
    }
    .payment{
        max-width: 680px;
    }


    .social {
        padding: 20px 0 0 0;
    }

    .footer-contacts {
        width: 334px;
    }

    .footer p {
        font-size: 16px;
    }

    .info-for-our {
        width: 398px;
    }

    .footer-programms {
        width: 220px;
    }
}

@media all and (max-width: 750px ) {
    .container {
        width: 320px;
    }
    h1{
        background: url(../../img/G.svg) no-repeat 65px 18px;
        background-size: 200px;
        margin-top: 20px;
    }
    .block-2 .container ul{
        justify-content: center;
        max-width: 320px;
    }
}

@media all and (max-width: 500px ) {
    .container {
        width: 320px;
    }
    .block-3 h2{
        padding-top: 16px;
        padding-bottom: 20px;
    }
    .block-3 h5{
        padding-top: 20px;
    }

    .footer {
        padding: 0 0 0 10px;
    }

    .footer-menu {
        order: 1;
    }

    .social {
        padding: 100px 0 0 0;
    }

    .info-for-our {
        width: 300px;
    }
}

